{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'userapi/styles/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'userapi/styles/theme.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'userapi/favicon/favicon.ico' %}">

    <title>{% block title %}MyLittleTrip{% endblock title %}</title>
  </head>
  <body>
    {% block header %}{% endblock header %}
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
  </body>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</html>
